NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dwl2slbiw
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=khushbuwaala_unsigned_images_preset

NEXT_PUBLIC_API_URL=https://api.khushbuwaala.com/api
# NEXT_PUBLIC_API_URL=http://localhost:7302/api